
<div>
    <br>
    <br>
    <form class="form-group row" #miFormulario="ngForm" (submit)="login(miFormulario)">
        <div class="form-group col-md-3">
            <input type="email" name="email" placeholder="Email" class="form-control" ngModel>
        </div>

        
        <div class="form-group col-md-3">
            <input type="password" name="password" placeholder="Contraseña" class="form-control" ngModel>
        </div>

        <br>
        <div class="form-group col-md-3">
           <input type="submit" value="Login" class="btn btn-primary"> 
        </div>
    </form>
</div>